modules = ["nodejs-20", "java-graalvm22.3", "bash", "web"]
run = "npm run dev"

[nix]
channel = "stable-25_05"
packages = ["postgresql"]

[deployment]
run = ["sh", "-c", "npm run dev"]

[workflows]
runButton = "Start BrillPrime"

[[workflows.workflow]]
name = "Start BrillPrime"
author = 46707456
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
